body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  margin: 0 auto;
  overflow: hidden;
}
canvas {
  width: 704px;
  height: 1408px;
  transform: scale(0.625);
  transform-origin: top left;
}
