body {
  user-select: none;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: rgba(0,0,0,.9);
}
a {
  position: absolute;
  top: 24px;
  left: 10%;
  box-shadow: 0 3px 7px -1px rgb(0 0 0 / 20%), 0 2px 5px -2px rgb(0 0 0 / 20%);
  line-height: 1.5rem;
  font-size: .75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(226,232,240,.8);
  border-radius: 9999px;
  height: 1.5rem;
  display: inline-block;
  transition-duration: .15s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
a:active {
  -webkit-tap-highlight-color: rgba(0 0 0/0);
  background-color: rgba(203,213,225,.7);
  box-shadow: 0 6px 12px -1px rgb(0 0 0 / 30%), 0 3px 9px -2px rgb(0 0 0 / 30%);
}
footer {
  position: absolute;
  text-align: center;
  padding: .5rem;
  top: 12px;
  right: 7%;
  font-size: .75rem;
  line-height: 1rem;
  opacity: .2;
}
#root {
  overflow: hidden;
}
canvas {
  width: 704px;
  height: 1408px;
  transform: scale(0.625);
  transform-origin: top left;
}
